* *::before *::after {
    box-sizing: border-box;
}


/* ---LES FONTS--- */

@font-face {
    font-family: 'Hello';
    src: url('font/Hello.woff2') format('woff2'), url('font/Hello.woff') format('woff');
}

@font-face {
    font-family: 'Hello Valentina';
    src: url('font/Hello+Valentina.woff2') format('woff2'), url('font/Hello+Valentina.woff') format('woff');
}

@font-face {
    font-family: 'HIROMISAKE';
    src: url('font/HIROMISAKE.woff2') format('woff2'), url('font/HIROMISAKE.woff') format('woff');
}

@font-face {
    font-family: 'Afterglow-Regular';
    src: url('font/Afterglow-Regular.woff2') format('woff2'), url('font/Afterglow-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Literata-Regular';
    src: url('font/Literata-Regular.woff2') format('woff2'), url('font/Literata-Regular.woff') format('woff');
}


/* --------- */

html {
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}


/* ===== Scrollbar CSS ===== Ma scrollbar a été généré via un scrollbar generator */


/* https://w3generator.com/scrollbar */


/* Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #a505051c;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #94040400;
}


/* --- MENTION LEGALES --- */

.volet-visible {
    cursor: pointer;
    height: 33em;
    overflow: hidden;
    background-color: #ffd106da;
}

.volet-invisible {
    color: white;
    position: absolute;
    cursor: pointer;
    height: 5em;
    overflow: hidden;
    background-color: #ffffff;
}

.volet-invisible:hover {
    cursor: pointer;
    opacity: 90%;
    background-color: #ffd106da;
    transition: 0.5s;
}

.sectionMentions h1 {
    color: #000000;
    font-family: Afterglow-Regular;
    text-shadow: 2px 3px 3px rgb(211, 56, 56);
    letter-spacing: 6px;
    word-spacing: 4px;
    text-align: center;
}

.texteMentions {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}


/* --------- */


/* --- A PROPOS --- */

.ButtonDuhaut {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    display: flex;
    border-width: 0px;
    border-color: -internal-light-dark(rgb(192, 17, 17), rgb(122, 18, 18));
    font-family: 'DM Serif Display', serif;
    color: rgb(0, 0, 0);
    background-color: rgb(177, 9, 9);
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.678);
    left: 50%;
    transition: 0.4s;
}

.ButtonDuhaut:hover[type="button"] {
    opacity: 80%;
    cursor: pointer;
    transition: 0.4s;
}

.ButtonDuhautnone {
    display: none;
}

input[type*="button"] {
    width: 20%;
    height: 50px;
    margin-top: 3vh;
    font-size: 18px;
    margin-right: 3vh;
    justify-content: center;
    text-align: center;
}

input[type*="button"]:hover {
    cursor: pointer;
}

.texte-apropos {
    font-family: 'DM Serif Display', serif;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    line-height: 40px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

.grossebox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box-apropos {
    font-size: 2rem;
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.box-apropos .close {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 2%;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.box-apropos .close:hover {
    opacity: 90%;
    transition: 0.5s;
}

.box-apropos label {
    font-size: 2rem;
}

.fenetreModale-invisible {
    display: none !important;
}

.fenetreModale-visible {
    cursor: pointer;
    width: 60%;
    height: 30em;
    overflow: hidden;
    background-color: rgb(163, 8, 8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(187, 52, 75);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.479);
}


/* --------- */

body {
    background-color: rgb(141, 12, 12);
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    background-image: url('img/SVG/Japon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 125vh;
    width: 100%;
}

.mask {
    display: none;
}


/* --- AVEC TITRE ET NOM --- */

.Header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.titre1 {
    font-family: HIROMISAKE;
    color: black;
    font-size: 70px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.nom {
    font-family: Afterglow-Regular;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    letter-spacing: 6px;
    word-spacing: 3px;
}


/* --------- */


/* ---BLOC PORTRAIT CHINOIS--- */

.background {
    background-color: #6d0c08;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 125vh;
}

.analogie {
    font-family: HIROMISAKE;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin-top: 5%;
    margin-bottom: 1%;
    white-space: nowrap;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.76), 0 0 10px rgba(255, 255, 255, 0.76), 0 0 21px rgba(255, 255, 255, 0.76), 0 0 42px rgba(134, 7, 7, 0.685), 0 0 82px rgba(134, 7, 7, 0.685);
}

.valeur {
    color: rgb(178, 178, 224);
    font-family: 'Hello';
    font-size: 6.5vw;
    text-align: left;
    margin: 0%;
    padding-left: 50vh;
    text-shadow: 2px 3px 3px rgb(0, 0, 0);
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}

.justification {
    font-family: Literata-Regular;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    line-height: 40px;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 20px;
    margin-right: 45vw;
    margin-left: 8vw;
    margin-bottom: 3vh;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.479);
}

.justification:hover {
    background-color: #ac0505a2;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.valeur:hover {
    color: #ffffff;
    -webkit-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

.bloc-portrait-chinois {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 125vh;
    display: flex;
}


/* --------- */


/* ---FORMULAIRE--- */

.blocFormulaire {
    display: none;
}

.sectionFormu {
    background-image: url('img/SVG/Suggestion.svg');
    width: 100%;
    max-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Leformulaire {
    padding-left: 5vh;
    padding-right: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input[type=text] {
    display: flex;
    width: 90%;
    height: 50px;
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 dodgerblue;
}

.box {
    padding: 5px;
    font-size: 20px;
}

.box-formulaire {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.box-formulaire label {
    font-size: 2rem;
}

.box-formulaire .close {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 2%;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

.box-formulaire .close:hover {
    opacity: 90%;
    transition: 0.5s;
}

.popup-invisible {
    display: none !important;
}

.popup-visible {
    cursor: pointer;
    width: 60%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(153, 12, 12, 0.719);
    position: absolute;
    bottom: -1080vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(109, 6, 6);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.479);
}


/* ------- */


/* BOUTTON FORMULAIRE */

.clique {
    display: block;
    width: 15em;
    height: 40px;
    position: fixed;
    left: 43%;
    margin-top: 2em;
    transition: 0.4s;
}

.clique:hover {
    opacity: 80%;
    cursor: pointer;
    transition: 0.4s;
}

.cliquenone {
    display: none;
}


/* ------- */


/* Fleche */

.fleche {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fleche img {
    height: 7vh;
}


/* ------- */


/* Curseur de la page*/

.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: color-burn;
    background-color: rgb(158, 1, 1);
    z-index: 10000;
    border: 2px solid rgb(163, 0, 0);
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
}


/* ------- */


/* FORMULAIRE */

.creer h1 {
    font-family: HIROMISAKE;
    color: black;
    font-size: 70px;
    margin-top: 5vh;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.creer p {
    margin-top: 5vh;
    font-size: 2rem;
    color: #000000;
    font-family: Afterglow-Regular;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    letter-spacing: 3px;
    word-spacing: 3px;
}

.creer .bouton {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.creer .Boutoncreer {
    margin-top: 5vh;
    height: 23vh;
    width: 50%;
    border-radius: 160px;
    color: #000000;
    background-color: rgb(255, 255, 255);
    font-family: 'Hello';
    font-size: 6em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.5s;
    border-width: 1px;
    border-color: -internal-light-dark(rgb(192, 17, 17), rgb(122, 18, 18));
    box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.678);
    text-shadow: 2px 3px 3px rgb(223, 112, 112);
}

.creer .Boutoncreer:hover {
    cursor: pointer;
    opacity: 90%;
    background-color: #ffd106da;
    transition: 0.5s;
}

.BoutonEnvoyer {
    text-align: center;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1000vh;
    left: -0%;
}

form a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: 0.5s;
    user-select: none;
}

form h1 {
    margin-bottom: 10vh;
    color: white;
    font-size: 4rem;
}

form a:hover {
    cursor: pointer;
    opacity: 90%;
    color: #000000;
    transition: 0.5s;
}

.formulaire {
    margin-top: 12vh;
    background-color: #e7bd03da;
    max-width: 60%;
    width: 100%;
    max-height: 70vh;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-color: rgb(0, 0, 0);
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.479);
}

form .champs {
    margin-top: -55px;
    justify-content: left;
    text-align: left;
    align-items: left;
    margin-left: 30px;
}

@media (max-width: 1802px) {
    .formulaire {
        background-color: #e7bd03da;
        max-width: 60%;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        border-radius: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-color: rgb(0, 0, 0);
        box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.479);
    }
    input {
        width: 90%;
        height: 30px;
        font-size: 1.1rem;
        margin-bottom: 3vh;
    }
    form a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        transition: 0.5s;
        user-select: none;
    }
    form h1 {
        margin-bottom: 10vh;
        color: white;
        font-size: 4rem;
    }
}

@media (max-width: 1502px) {
    input {
        width: 90%;
        height: 30px;
        font-size: 1.1rem;
        margin-bottom: 3vh;
    }
    form a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        transition: 0.5s;
        user-select: none;
    }
    form h1 {
        margin-bottom: 10vh;
        color: white;
        font-size: 2rem;
    }
}

label {
    color: rgb(0, 0, 0);
    text-shadow: 1px 2px 2px rgb(255, 255, 255);
    font-size: 3vh;
}

form h1 {
    font-size: 2em;
    margin-top: 0px;
}